/* footer styling */

footer {
    background-color: rgb(27, 38, 59);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}