<div class="content-wrapper">
    <h2>Om uppgiften</h2>
    <p>
        Denna webbplats är skapad i webbramverket Angular. Webbplatsen består av totalt 6 komponenter, en för varje undersida, en för header, en för footer och en 404-not found.
        Headern och footern infogas på varje undersida och kan därmed vara helt separerad från resten av koden.
    </p>
    <p>
        All CSS-styling är också uppdelat i varje enskild komponent, med lite övergripande styling så som font och bakgrund i det övergripande stylesheetet <i>styles.css</i>.
    </p>
    <p>
        De matematiska konverteringar som finns på undersidan <i>konvertera</i> är lösta med TypeScript i den tillhörande <i>conversion.component.ts</i> och använder så kallad data-binding för att läsa in och skriva ut data.
    </p>
    <p>
        Angular känns jättebra att arbeta med, arbetet har gått väldigt smidigt och processen känns väldigt bra och tydlig. Ser fram emot att fortsätta.
    </p>
    <p><b>- Max Assermark, 2024</b></p>
</div>